LOCAL_MODE=true
PORT=3000
BASIC_AUTH_USERNAME=local-user
BASIC_AUTH_PASSWORD=change-me
API_ACCOUNT_ID=YOUR_API_KEY
API_ACCOUNT_SECRET=YOUR_API_SECRET
API_APPLICATION_ID=YOUR_LOCAL_APPLICATION_ID
PRIVATE_KEY_PATH=./private.key